<div class="logo">
  <a [routerLink]="['/']">
    <img class="expanded" src="./assets/logo-full.svg" alt="{{settings.app.name}}" style="max-height:40px;" />
    <img class="collapsed" src="./assets/logo.svg" alt="{{settings.app.name}}" style="max-height:30px;" />
  </a>
</div>
<div class="top-nav-wrap">
  <ul class="top-nav">
    <!-- Menu -->
    <li>
      <div class="item" (click)="toggleCollapsedSideabar()">
        <i class="anticon anticon-menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
      </div>
    </li>
    <li class="title">厦门港集团有限公司 / 嵩屿码头</li>
  </ul>
  <ul class="top-nav">
    <li class="hidden-xs">
      <i class="anticon anticon-scan"></i>
    </li>
    <li class="hidden-xs">
      <i class="anticon anticon-search"></i>
    </li>
    <li class="hidden-xs">
      <i class="anticon anticon-lock"></i>
    </li>
    <li class="hidden-xs">
      <header-user></header-user>
    </li>
  </ul>
</div>